# 3. Index
데이터에 접근할 수 있는 주소 값

In [3]:
import pandas as pd

data = {
     '이름' : ['최승철', '윤정한' ,'홍지수', '문준휘', '전원우', '권순영', '이지훈', '서명호', '김민규', '이석민', '부승관', '최한솔', '이찬'],
     '유닛' : ['힙합팀', '보컬팀', '보컬팀', '퍼포팀', '힙합팀', '퍼포팀', '보컬팀', '퍼포팀', '힙합팀', '보컬팀', '보컬팀', '힙합팀', '퍼포팀'],
     '나이' : [27, 27, 27, 26, 26, 26, 26, 25, 25, 25, 24, 24, 23],
     '생일(월)' : [8, 10, 12 ,6, 7, 6, 11, 11, 4, 2, 1, 2, 2]
}

df = pd.DataFrame(data, index=['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번', '9번', '10번', '11번', '12번', '13번'])
df

      이름   유닛  나이  생일(월)
1번   최승철  힙합팀  27      8
2번   윤정한  보컬팀  27     10
3번   홍지수  보컬팀  27     12
4번   문준휘  퍼포팀  26      6
5번   전원우  힙합팀  26      7
6번   권순영  퍼포팀  26      6
7번   이지훈  보컬팀  26     11
8번   서명호  퍼포팀  25     11
9번   김민규  힙합팀  25      4
10번  이석민  보컬팀  25      2
11번  부승관  보컬팀  24      1
12번  최한솔  힙합팀  24      2
13번   이찬  퍼포팀  23      2

In [4]:
df.index

Index(['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번', '9번', '10번', '11번',
       '12번', '13번'],
      dtype='object')

## Index 이름 설정

In [5]:
df.index.name = '지원번호'
df

       이름   유닛  나이  생일(월)
지원번호
1번    최승철  힙합팀  27      8
2번    윤정한  보컬팀  27     10
3번    홍지수  보컬팀  27     12
4번    문준휘  퍼포팀  26      6
5번    전원우  힙합팀  26      7
6번    권순영  퍼포팀  26      6
7번    이지훈  보컬팀  26     11
8번    서명호  퍼포팀  25     11
9번    김민규  힙합팀  25      4
10번   이석민  보컬팀  25      2
11번   부승관  보컬팀  24      1
12번   최한솔  힙합팀  24      2
13번    이찬  퍼포팀  23      2

## Index 초기화

In [6]:
df.reset_index()

   지원번호   이름   유닛  나이  생일(월)
0    1번  최승철  힙합팀  27      8
1    2번  윤정한  보컬팀  27     10
2    3번  홍지수  보컬팀  27     12
3    4번  문준휘  퍼포팀  26      6
4    5번  전원우  힙합팀  26      7
5    6번  권순영  퍼포팀  26      6
6    7번  이지훈  보컬팀  26     11
7    8번  서명호  퍼포팀  25     11
8    9번  김민규  힙합팀  25      4
9   10번  이석민  보컬팀  25      2
10  11번  부승관  보컬팀  24      1
11  12번  최한솔  힙합팀  24      2
12  13번   이찬  퍼포팀  23      2

In [7]:
df.reset_index(drop=True) # 원래 쓰던 '지원번호' 인덱스 삭제

     이름   유닛  나이  생일(월)
0   최승철  힙합팀  27      8
1   윤정한  보컬팀  27     10
2   홍지수  보컬팀  27     12
3   문준휘  퍼포팀  26      6
4   전원우  힙합팀  26      7
5   권순영  퍼포팀  26      6
6   이지훈  보컬팀  26     11
7   서명호  퍼포팀  25     11
8   김민규  힙합팀  25      4
9   이석민  보컬팀  25      2
10  부승관  보컬팀  24      1
11  최한솔  힙합팀  24      2
12   이찬  퍼포팀  23      2

In [8]:
df

       이름   유닛  나이  생일(월)
지원번호
1번    최승철  힙합팀  27      8
2번    윤정한  보컬팀  27     10
3번    홍지수  보컬팀  27     12
4번    문준휘  퍼포팀  26      6
5번    전원우  힙합팀  26      7
6번    권순영  퍼포팀  26      6
7번    이지훈  보컬팀  26     11
8번    서명호  퍼포팀  25     11
9번    김민규  힙합팀  25      4
10번   이석민  보컬팀  25      2
11번   부승관  보컬팀  24      1
12번   최한솔  힙합팀  24      2
13번    이찬  퍼포팀  23      2

In [10]:
df.reset_index(drop=True, inplace=True) # 실제 데이터에 바로 반영

In [11]:
df

     이름   유닛  나이  생일(월)
0   최승철  힙합팀  27      8
1   윤정한  보컬팀  27     10
2   홍지수  보컬팀  27     12
3   문준휘  퍼포팀  26      6
4   전원우  힙합팀  26      7
5   권순영  퍼포팀  26      6
6   이지훈  보컬팀  26     11
7   서명호  퍼포팀  25     11
8   김민규  힙합팀  25      4
9   이석민  보컬팀  25      2
10  부승관  보컬팀  24      1
11  최한솔  힙합팀  24      2
12   이찬  퍼포팀  23      2

## Index 설정
지정한 column으로 Index 를 설정

In [12]:
df.set_index('이름')

      유닛  나이  생일(월)
이름
최승철  힙합팀  27      8
윤정한  보컬팀  27     10
홍지수  보컬팀  27     12
문준휘  퍼포팀  26      6
전원우  힙합팀  26      7
권순영  퍼포팀  26      6
이지훈  보컬팀  26     11
서명호  퍼포팀  25     11
김민규  힙합팀  25      4
이석민  보컬팀  25      2
부승관  보컬팀  24      1
최한솔  힙합팀  24      2
이찬   퍼포팀  23      2

In [13]:
df

     이름   유닛  나이  생일(월)
0   최승철  힙합팀  27      8
1   윤정한  보컬팀  27     10
2   홍지수  보컬팀  27     12
3   문준휘  퍼포팀  26      6
4   전원우  힙합팀  26      7
5   권순영  퍼포팀  26      6
6   이지훈  보컬팀  26     11
7   서명호  퍼포팀  25     11
8   김민규  힙합팀  25      4
9   이석민  보컬팀  25      2
10  부승관  보컬팀  24      1
11  최한솔  힙합팀  24      2
12   이찬  퍼포팀  23      2

In [14]:
df.set_index('이름', inplace=True)

In [15]:
df

      유닛  나이  생일(월)
이름
최승철  힙합팀  27      8
윤정한  보컬팀  27     10
홍지수  보컬팀  27     12
문준휘  퍼포팀  26      6
전원우  힙합팀  26      7
권순영  퍼포팀  26      6
이지훈  보컬팀  26     11
서명호  퍼포팀  25     11
김민규  힙합팀  25      4
이석민  보컬팀  25      2
부승관  보컬팀  24      1
최한솔  힙합팀  24      2
이찬   퍼포팀  23      2

## Index 정렬
index 를 기준으로 오름차순, 내림차순 정렬

In [16]:
df.sort_index() # 인덱스를 오름차순 정렬

      유닛  나이  생일(월)
이름
권순영  퍼포팀  26      6
김민규  힙합팀  25      4
문준휘  퍼포팀  26      6
부승관  보컬팀  24      1
서명호  퍼포팀  25     11
윤정한  보컬팀  27     10
이석민  보컬팀  25      2
이지훈  보컬팀  26     11
이찬   퍼포팀  23      2
전원우  힙합팀  26      7
최승철  힙합팀  27      8
최한솔  힙합팀  24      2
홍지수  보컬팀  27     12

In [18]:
df.sort_index(ascending=False) # 내림차순 정렬

      유닛  나이  생일(월)
이름
홍지수  보컬팀  27     12
최한솔  힙합팀  24      2
최승철  힙합팀  27      8
전원우  힙합팀  26      7
이찬   퍼포팀  23      2
이지훈  보컬팀  26     11
이석민  보컬팀  25      2
윤정한  보컬팀  27     10
서명호  퍼포팀  25     11
부승관  보컬팀  24      1
문준휘  퍼포팀  26      6
김민규  힙합팀  25      4
권순영  퍼포팀  26      6